body{
  background-color: #ffffff;
}

#logo{
  /* border: 3px solid black; */
  display: flex;
  background-color: rgb(45, 45, 45);
  padding-top: 10px;
  /* position: fixed; */
 
}
.navbar {
    
 
    margin: 0;
    padding: 10px;
    /* overflow: hidden; */
    background:  rgb(59, 59, 59);
    transition: 1s ease;
  
  }
  #n2{
    top: 0px;
    transition: 0.2s ease;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#b{
  transition: 1s ease;
color: rgb(238, 210, 49);
}
.navbar:hover{
  background: rgb(90, 89, 89);
}
.navbar:hover #b{
  color: #a3a1a1;
}
.navbar:hover.navbar li a{
  
  color: #ffffff;
}
  .navbar ul{
    list-style-type: none;
   margin-left: 500px;
    /* margin-bottom: -20px; */
  }
  .navbar li {
    float: left;
    /* border: 3px solid black; */
    
    margin-top: 10px;

    

    
  }
  select{
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16;
    background-color: #f8f8f8;
    color: #000000;
    width: 100%;
  }
  select:focus{
    outline: none;
  }
  label{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23;
  } 
  #store{
    
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
   
  
  }
  .products {
    
   /* background-color: #a3a1a1; */
    position: relative;
    /* border: 3px solid black; */
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* .product {
        
    flex: 0 0 33.33%;
    /* padding: 10px; 
  } */
  .list-view .product {
    display: block;
    
    /* Add your list view styles here */
  }
  .list-view {
    flex-direction: column;
  }
  
  .navbar li a {
    /* display: inline-block; */
    color: #edc581;
    /* text-align: center; */
    font-size: medium;
   margin-right: 20px;
  /* padding-top: 30px; */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.1s ;
    
    /* border: 3px solid black; */
    /* width: fit-content; */

  }
  
  .navbar li a:hover {

   border-bottom: 4px solid rgb(238, 200, 64);
  
  }
  #luggage{
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  .navbar li a:hover #home {
 border-bottom: none;
   
   }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown1:hover .dropdown-content {
    display: block;
  } 

/* .dropdown > a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 20;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition: 0.10s ;
    width: 100%;
    /* border: 3px solid black; */
/* } */
.dropdown > a:hover{
    background-color: rgb(64, 50, 50);
    color: rgb(255, 255, 255);}


    /* .products {
        display: flex;
      } */
      .product {
        box-shadow: 0px 0px 10px rgb(202, 201, 200);
        margin: 20px auto;
        text-align: center;
        width: fit-content;
        border-radius: 10px;
        position: relative;
        transition: 1s;
      }
    
.btn-add-to-cart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product:hover .btn-add-to-cart {
  display: block;
  opacity: 1;
  background-color: #ffcf3f;
}
.product .btn{
  margin-bottom: 40px;
}
      .product img{
        background-size: contain;
        border-radius: 10px;  
        width: 230px;
        height: 200px;
      }
 .product #p{
  position: relative;
  /* border: 3px solid black; */
  font-size: 20;
  bottom: 20px;
 }

      button {
      
        margin-top: 10px;
      }
      .pi{
        font-size: 20;
        background-color: #fdfd19;
        position: absolute;
        top: 30px;
       margin-left: 50px;
      }

      #cart2{
        position: relative;
      }
   

#crumb{
  /* background-color: #f5f1f1; */
  left: 20;
  top: 60px;
  position: relative;
  /* border: 3px solid black; */
  width: fit-content;
}
#crumb ul li a{
  text-decoration: none;
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#filt{
  position: absolute;
  width: fit-content;
  top: 170px;
  left: 430px;
  z-index: 0;
 /* border: 2px solid black; */
 height: fit-content;
}
#sort{
  display: flex;
  /* border: 3px solid black; */
  position: absolute;
  width: fit-content;
  top: 183px;
  left: 650px;
  z-index: 0;
 /* border: 2px solid black; */
 height: fit-content;
}
#sort select{
  width: 300px;
}
#show{
  display: flex;
  /* border: 3px solid black; */
  position: absolute;
  width: fit-content;
  top: 183px;
  left: 1100px;
  z-index: 0;
 /* border: 2px solid black; */
 height: fit-content;
}
#show select{
  width: 50px;
  margin-left: 5px;
}
      #sex{
        box-shadow: 0px 0px 3px black;
      padding-bottom: 10px;
        /* border-radius: 5px; */
        list-style-type: none;
        background-color: #ffcf3f;
        width: fit-content;
        display: flex;
       position: fixed;
       left: 560px;
        margin: auto;
      }
#sex li{
  position: relative;
  right: 30px;
}
    
#rest{
  width: 100%;
}
      #sex li a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: #040404;
        margin: auto;
        margin-left: 20px;
        font-weight: bold;

       
      }
      /* #lug{
        position: fixed;
        left: 30px;
   /* border: 3px solid black; 
        margin-left: 350px;
        color: #f1f1f1;
    } */#lug{
   
    margin-left: 350px;
    color: #f1f1f1;
}#re{
  cursor: pointer;
  color: #f1f1f1;
  
}
#search{
  margin-left: 100px ;
  margin-top:20px;
}
#font > i{
  margin-left: 15px;
  color: #f1f1f1;
  
}
#font > i:hover{
  color: red;
}
#font{
  margin-left: 300px;
  margin-top: 14px;
}
#re:hover{
  color: red;
}

    #filter{
      position: relative;
      /* border: 3px solid black; */
      height: fit-content;
      
    }
    #pagi{
      margin-left: 900px;
    }

    #nav{
      display: none;
      position: fixed;
      background-color: white;
      width: 100%;
      z-index: 1;
      /* margin-top: 0px; */
  }
  .dropdown {
    display: none;
    position: fixed;
    background-color: #fffefe;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 100px;
    transition: all 0.3s ease; /* Add transition effect */
    transform-origin: top;
    opacity: 0;
}

.dropdown a {
    color: rgb(6, 6, 6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown.show {
    opacity: 1;
    transform: translateY(10px); /* Adjust the value based on your preference */
}

.toggle{
  margin-left: 80px;
  cursor: pointer;
}

footer{
    
  background-color: rgb(21, 21, 21);
  /* border: 4px solid green; */
 margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
}

/* html{
   border: 3px solid blue; 
  height: fit-content;
  background-color: rgb(10, 12, 21);
} */
#holdfoot{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  
}

#holdfoot ul {
  margin-bottom: 0;

}
#sign td > input{
  background-color:  rgb(21, 21, 21);
  color: #fff;
} 

#sign td > input:focus{
outline: none;
} 
#sign td > #suh{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #000000;
  font-size: 20;
  background-color:  rgb(123, 122, 122);
} 
#sign p, #contact p, #acc p, #buy p, #info p{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

#info li a, #buy li a, #acc li a, #contact li a{
  color: white;
  text-decoration: none;
  font-size: small;
  
}
#info li a:hover, #buy li a:hover, #acc li a:hover, #contact li a:hover{
  color: rgb(188, 39, 39);
}
#info ul, #buy ul, #acc ul, #contact ul{
  list-style-type: none;
}
.ticker {
    
  position: fixed;
  z-index: 3;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  overflow: hidden;
}

.ticker p {
  white-space: nowrap;
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 700px){
  #nav{
    margin-top: -48px;
    display: block;
    position: fixed;
    /* border: 3px solid black; */
  
}
#holdfoot{
  flex-direction: column;
}

#sign{
  margin-top: 20px;
  margin-left: 30px;
}
#nav > h3{
  /* border: 3px solid black; */
  margin: auto;
  margin-left: 30px;
  margin-top: 20px;
}

#n2{
  display: none;
}

#store{
  flex-direction: column;
  /* width: fit-content; */
}

.products{
 
  margin: auto;
  width: fit-content;
  flex-direction: column;
  margin-top: 200px;
  margin-left: -350px;
  /* border: 3px solid rgb(236, 29, 29); */
}

.product{
  left: 420px;
  bottom: 150px;
}

#filter{
  margin: auto;
  width: fit-content;
  /* border: 3px solid rgb(236, 29, 29); */
}
#filter select, #filter #rest{
  /* border: 3px solid black; */
  width: 90%;
  
}

#filt{
  display: none;
}
#sort{
  display: none;
}
#show{
  display: none;
}

#pagi{
 /* border: 3px solid black; */
position: relative;
bottom: 150px;
right: 850px;
width: fit-content;
}

.accordion{
  display: none;
}

.ticker{
  bottom: 50px;
/* border: 3px solid black; */
}

footer{
  margin-bottom: 90px;
}

}